<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>weather app</title>
</head>
<body>
             <h2 style="color:#666699">App to get weather by city and cities By Country </h2>
             <h3 style="color:#666699">Get Cities By Country </h3>

             <form action="/getCities" method="post">
               <font color="#666699">Enter Country : </font><input style="color:#666699" type="text" name="country"/>
               <br></br>
               <input style="color:#666699" type="submit" value="Search" /><br/>
             </form>
</body>
</html>